{% import "macros/macros.html" as post_macros %}

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E98HG92E48"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E98HG92E48');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Site title #}
    {% set current_path = current_path | default(value="/") %}
    {% if current_path == "/" %}
    <title>{{ config.title | default(value="Home") }}</title>
    {% else %}
    <title>{{ page.title | default(value=config.title) | default(value="Post") }} </title>
    {% endif %}

    {# Favicon #}
    {% if config.extra.favicon %}
    <link rel="icon" type="image/png" href={{ config.extra.favicon }} />
    {% endif %}

    {# RSS #}
    <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path=" atom.xml",
        trailing_slash=false) }}">
    <link rel="stylesheet" type="text/css" media="screen" href={{ get_url(path="main.css" ) }} />
    <link rel="stylesheet" type="text/css" media="screen" href={{ get_url(path="style.css" ) }} />

    {% if config.extra.stylesheets %}
    {% for stylesheet in config.extra.stylesheets %}
    <link rel="stylesheet" href="{{ get_url(path=stylesheet) }}">
    {% endfor %}
    {% endif %}

    <meta name="description" content="{{ config.description }}">
    {% if is_404 %}
    <meta name="robots" content="noindex, follow">
    {% endif %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    {% endif %}
    <meta property="og:type" content="article" />

    {% if page.extra.image %}
    {% set image = resize_image(path=page.extra.image, width=640, height=360, op='fit_width') %}
    <meta property="og:image" content="{{ image.url | safe }}">
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}

    {% set current_url = current_url | default(value="/") %}
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">

    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' ws://127.0.0.1:1024/; img-src 'self' https://*; script-src 'self'; style-src 'self'; font-src 'self'" />
</head>
